/* ------------------
 AboutView 
---------------------*/
.AboutView-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  padding: 16px;
}

.AboutView-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-height: 330px;
  text-align: center;
}

.AboutView-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.AboutView-card img {
  width: 50%;
  padding: 16px;
  padding-bottom: 0px;
  object-fit: cover;
  display: inline-block;
}

.AboutView-card-content {
  padding: 1rem;
  background: rgb(255, 255, 255);
}
.content-block {
  flex: 2;
  padding: 1em;
}

.content-block h2 {
  font-size: 1.5rem;
}

.image-block {
  display: flex;
  flex: 1;
  min-width: 250px;
  text-align: right;
  padding: 16px;
  padding-top: 28px;
}

.image-block img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.AboutView-p-left {
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 15px;
  text-align: justify;
}

.AboutView-p-center {
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 15px;
  text-align: justify;
  text-align: center;
}

.AboutView-h2 {
  text-align: center;
  margin: 10px;
}
.AboutView-h3-center {
  color: #2d3648;
  text-align: center;
  padding-bottom: 10px;
}

/* AboutView (Section Styles) */
.AboutView-section {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  margin-bottom: 40px;
  gap: 30px; /* Space between content and image */
}

/* #AboutView-section-reverse {
  flex-direction: row-reverse;
} */

#AboutView-section-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

#AboutView-section-2 {
  padding-left: 4rem;
  padding-right: 1rem;
}

#AboutView-section-3 {
  padding-left: 8rem;
  padding-right: 1rem;
}

/* ----------------------------- */
/* -------------------
  AboutView mobile
  ----------------------*/
@media screen and (max-width: 768px) {
  h1 {
    padding-left: 1rem;
  }
  .AboutView-section {
    display: flex;
    flex-direction: column; /* Mengubah arah flex menjadi kolom */
    align-items: center; /* Pusatkan konten saat diatur dalam kolom */
    margin-bottom: 40px;
    gap: 30px;
  }

  .image-block {
    /* Hapus atau sesuaikan properti flex dan min-width jika tidak diperlukan */
    /* flex: 1; */ /* Ini bisa dihapus jika Anda ingin gambar memiliki lebar sesuai kontennya */
    /* min-width: 250px; */ /* Ini juga bisa dihapus */
    text-align: center; /* Pusatkan gambar secara horizontal */
    padding: 16px;
  }

  .image-block img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .content-block {
    /* Anda mungkin ingin menambahkan lebar maksimum untuk blok teks agar tidak terlalu lebar */
    max-width: 800px; /* Contoh: sesuaikan nilai ini sesuai kebutuhan Anda */
    text-align: left; /* Sesuaikan perataan teks jika diperlukan */
  }

  .feature-icon img {
    width: 150px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }

  #AboutView-section-reverse {
    flex-direction: column-reverse;
  }

  #AboutView-section-1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  #AboutView-section-2 {
    padding-left: 0px;
    padding-right: 0px;
  }

  #AboutView-section-3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
